/* Main menu positionning */
.main-nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  background: #fff;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  transition: all 0.375s;
}

.main-nav.is_open {
  opacity: 1;
  z-index: 100;
  visibility: visible;
}

/* Yellow band effect */
.main-nav::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -15px;
  background: #fedc2a;
  transform-origin: 0 0;
  transform: skew(-14deg) translateX(-120%);
  transition: all 0.275s 0.1s;
}

.main-nav.is_open::before {
  transform: skew(-14deg) translateX(0);
}

/* Skewing effect on menu links */
.main-nav ul {
  display: inline-flex;
  flex-direction: column;
  height: 93%; /* Should be 100%, but we have a notice message :D */
  align-items: flex-end;
  justify-content: center;
  transform: translateX(-18%) skew(-16deg);
}

.main-nav li {
  display: block;
  margin: 0.5rem 0;
  text-align: right;
  transform: skew(16deg);
}

/* Apparition effect on links */
.main-nav a {
  opacity: 0;
  transform: translateY(-10px);
}

.main-nav.is_open a {
  opacity: 1;
  transform: translateY(0);
}
.main-nav li:nth-child(1) a {
  transition: all 275ms 175ms;
}
.main-nav li:nth-child(2) a {
  transition: all 275ms 225ms;
}
.main-nav li:nth-child(3) a {
  transition: all 275ms 275ms;
}
.main-nav li:nth-child(4) a {
  transition: all 275ms 325ms;
}
.main-nav li:nth-child(5) a {
  transition: all 275ms 375ms;
}

/* Decoration */
.main-nav ul,
.main-nav li {
  list-style: none;
  padding: 0;
}
.main-nav a {
  display: block;
  padding: 12px 0;
  color: #5a3b5d;
  font-size: 1.4em;
  text-decoration: none;
  font-weight: bold;
}

/* Burger Style: @see: https://codepen.io/CreativeJuiz/full/oMZNXy */
.open_main_nav {
  position: absolute;
  top: 15px;
  padding-top: 20px;
  right: 15px;
  z-index: 1000;
  background: none;
  border: 0;
  cursor: pointer;
}
.open_main_nav:focus {
  outline: none;
}
.burger {
  position: relative;
  display: block;
  width: 28px;
  height: 4px;
  margin: 0 auto;
  background: #5a3b5d;
  transform: skew(5deg);
  transition: all 0.275s;
}

.burger:after,
.burger:before {
  content: "";
  display: block;
  height: 100%;
  background: #5a3b5d;
  transition: all 0.275s;
}

.burger:after {
  transform: translateY(-12px) translateX(-2px) skew(-20deg);
}

.burger:before {
  transform: translateY(-16px) skew(-10deg);
}

/* Toggle State part */
.is_open .burger {
  transform: skew(5deg) translateY(-8px) rotate(-45deg);
}

.is_open .burger:before {
  transform: translateY(0px) skew(-10deg) rotate(75deg);
}

.is_open .burger:after {
  transform: translateY(-12px) translateX(10px) skew(-20deg);
  opacity: 0;
}

/* MENU Text part */

.burger_text {
  display: block;
  font-size: 0.675rem;
  letter-spacing: 0.05em;
  margin-top: 0.5em;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  color: #5a3b5d;
}

/* .container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background: linear-gradient(to bottom, #eee, #ddd);
} */




/* When slowmotion is activated */

.is-slowmo + .device .open-main-nav .burger,
.is-slowmo + .device .open-main-nav .burger:before,
.is-slowmo + .device .open-main-nav .burger:after,
.is-slowmo + .device .main-nav,
.is-slowmo + .device .main-nav::before,
.is-slowmo + .device .main-nav a {
  transition-duration: 3s;
}
.is-slowmo + .device .main-nav li:nth-child(1) a {
  transition-delay: 1750ms;
}main
.is-slowmo + .device .main-nav li:nth-child(2) a {
  transition-delay: 2250ms;
}
.is-slowmo + .device .main-nav li:nth-child(3) a {
  transition-delay: 2750ms;
}
.is-slowmo + .device .main-nav li:nth-child(4) a {
  transition-delay: 3250ms;
}
.is-slowmo + .device .main-nav li:nth-child(5) a {
  transition-delay: 3750ms;
}
