.container {
  height: 680px;
  background: url('../Assets/background.jpg') no-repeat;
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 87%, 50% 94%, 0 88%);
clip-path: polygon(0 0, 100% 0, 100% 87%, 50% 100%, 0 87%);
}


.nav_container{
  max-width: 80rem;
  margin: 0 auto;
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infos {
  max-width: 25%;
  margin: 130px 0 0 150px;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.infos h2 {
  margin: 1rem 0;
  color: rgba(201, 201, 201, 0.801);
}