.menu_container {
  display: flex;
  align-items: center;
}
.ul {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.1rem;
  margin-right: 20px;
  text-transform: uppercase;
}

a {
  color: white;
  transition: all .3s;
}
a:hover {
  color: #f3d097;
}

@media (max-width: 991.98px) {
  .ul {
    display: none;
  }
  .cart {
    display: none;
  }
}