.menu_container {
  display: flex;
  align-items: center;
}
.ul {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.1rem;
  text-transform: uppercase;
}

a {
  color: white;
  transition: all .3s;
}
a:hover {
  color: #f3d097;
}
.cart {
  margin-left: 30px;
}

@media (max-width: 991.98px) {
  .ul {
    display: none;
  }
  .cart {

    margin-right: 80px;
  }
}