.home {
  background: url('../../Assets/paw.svg');
  background-repeat: no-repeat;
  background-size: 20%;
}

.p {
  width: 700px;
  text-align: center;
  margin: 20px auto
}

.container_marcas {
  background: url('../../Assets/paw.svg');
  background-repeat: no-repeat;
  background-size: 13%;
  background-position: right;
}

.container_destaques {
  background: url('../../Assets/paw.svg');
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: left;
  width: 90rem;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

@media (max-width: 1367px) {
  .container_destaques {
    width: 80rem;
  }
}

@media (max-width: 991.98px) {
  .p {
    width: 90vw;
  }
  .container_destaques {
    width: 85vw;
    display: flex;
    flex-direction: column;
  }
}