.sobre_container {
  background: url('../../Assets/paw.svg');
  background-repeat: no-repeat;
  background-position: 120px;
  background-size: 20%;
}

/* p {
  margin-bottom: 20px;
} */

span {
  color: var(--primary-color);
  font-weight: bold;
  margin-bottom: 8px;
}
.somos {
  margin-top: 40px;
  font-size: 1.8rem;
}
.missao {
  width: 400px;
  margin: 40px auto;
}
.missao p {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.quem_somos {
 width: 800px;
 margin: 0 auto;
 text-align: center;
}
.quem_somos p {
  margin-bottom: 20px;
}
@media (max-width: 991.98px) { 
  .p {
    width: 85vw;
    text-align: center;
  }
  .quem_somos {
    width: 85vw;
  }
  .missao {
    width: 85vw;
  }
}